<!-- Form -->
<form method = "post">
<label for ="from">From</label>
<input type = "text" name = "from" id = "from"><br>
<label for ="to">To</label>
<input type = "text" name = "to" id = "to"><br>
<button type = "submit" value= "Submit">

</form>
